/build
node_modules
/.idea/codeStyles/codeStyleConfig.xml
/.idea/i18nSettings.xml
/.idea/modules.xml
/extractedTranslations/en/translation.json
/extractedTranslations/ru/translation.json
/.idea/Ulbi course.iml
/.idea/vcs.xml
/.idea/.gitignore
/.idea/inspectionProfiles/Project_Default.xml
/.idea/jsLinters/eslint.xml
/.idea/stylesheetLinters/stylelint.xml
/.idea/compiler.xml
/storybook-static
.loki/report.html
.loki/report.json