.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background-color: var(--inverted-bg-color);
    transition: width 0.3s;
    position: relative;
}

.lang {
    margin-top: 40px;
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    width: 100%;
    transition: all 0.2s;

    & .lang {
        margin-top: 0;
    }
}

.collapseBtn {
    position: absolute;
    right: -32px;
    bottom: 32px;
}

.items {
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.item {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.link {
    margin-top: 10px;
    margin-left: 10px;
    opacity: 1;
}

.icon {
    fill: var(--inverted-primary-color);
}


.collapsed {
    width: var(--sidebar-width-collapsed);

    & .switchers {
        grid-auto-flow: row;
        align-content: space-around;
    }

    .link {
        opacity: 0;
        transition: opacity 0.2s;
        width: 0;
    }
}
